{% extends 'layout.html' %}
{% block content %}
    <div class="container">
    <div class="exp">
    <div class="explenation-container">
        <img src="{{ explanationimage.url }}">
        <div class="explenation-content">
            <h1>{{ explanationheader }}</h1>
            <p>{{ explanationtext }}</p>
        </div>
    </div>
    <div class="explenation-content-main">
        {{ explanationcontent }}
    </div>
    </div>
    </div>
    <section id="contact" class="contact">
        <div class="container">
            <div class="contact-content">
                <div class="contact-in">
                    <div class="contact-in-header">
                        <h2>İletişim</h2>
                    </div>
                    <div class="contact-in-info">
                        <ul class="padding0">
                            <li>
                                <span class="contact-icons"><img class="contact-icons" src="{% static 'images/mail-icon.png' %}"></span>
                                <a class="anchor-logo" href="mailto:{{ contactemail }}"><span>{{ contactemail }}</span></a>
                            </li>
                            <li>
                                <span class="contact-icons"><img class="contact-icons" src="{% static 'images/contact-icon.png' %}"></span>
                                <a class="anchor-logo" href="tel:{{ contactphone }}"><span>{{ contactphone }}</span></a>
                            </li>
                            <li>
                                <span class="contact-icons"><img class="contact-icons" src="{% static 'images/konum-icon.png' %}"></span>
                                <span>{{ contactadress }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
        </div>
    </section>
{% endblock %}