{% extends "layout.html" %}
{% load static %}
{% block content %}
    <section id="home" class="hero">
        <div class="container">
            <div class="wrapper">
                <div class="slider">
                    <div class="slides">
                        {% for item in slider %}
                            <div class="slide">
                            <img src="{{ item.image.url }}" alt="{{ item.id }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="content">
                    <div class="content-background"></div>
                        <h1 class="slider-content-header">{{ sliderheader }}</h1>
                        <p>{{ slidercaption }}</p>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="container">
            <div class="about-section">
                <div class="about-container">
                    <div class="about-image">
                        <img src="{{aboutimage.url}}" alt="Klinik">
                    </div>
                    <div class="about-content">
                        <h2>{{ aboutheader }}</h2>
                        <p>{{ aboutcaption}}</p>
                        <p class="highlighted-text">Klinikimiz, T.C.Sağlık Bakanlığı tarafından verilen <strong>Uluslararası Sağlık Turizm Yetki Belgesi</strong>'ne sahiptir.</p>
                        <div class="social-media">
                            <a href="#"><img src="" alt="Instagram"></a>
                            <a href="#"><img src="" alt="Facebook"></a>
                            <a href="#"><img src="" alt="YouTube"></a>
                        </div>
                        <a href="#" class="appointment-button">RANDEVU AL >></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="services" class="services">
        <div class="container">
        <ul class="services-list">
            {% for item in services %}
                <li>
                <div class="service-card">
                <img src="{{ item.image.url }}" alt="görsel">
                <h3>{{ item.name}}</h3>
                    <p>{{ item.content }}</p>
                </div>
                </li>
            {% endfor %}
        </ul>
        </div>
    </section>
    <section id="banner" class="banner">
        <div class="container">
            <div class="banner-background"></div>
            <div class="banner-content">
                <div class="banner-content-in">
                    <div class="banner-content-in-icon"><img src="{% static 'images/D85-tecrube-icon.png' %}"></div>
                    <div class="banner-content-in-text"> <h2 class="title">16 Yılı Aşkın Tecrübe</h2><p class="icon-box-description">2009 yılından beri estetik ve plastik cerrahlığı alanında deneyim.</p></div>
                </div>
                <div class="banner-content-in">
                    <div class="banner-content-in-icon"><img src="{% static 'images/technology-icon.png' %}"></div>
                    <div class="banner-content-in-text"><h2 class="title">Modern Teknoloji</h2><p class="icon-box-description">Tüm hastalarım için son teknolojiyi kullanıyorum.</p></div>
                </div>
                <div class="banner-content-in">
                    <div class="banner-content-in-icon"><img src="{% static 'images/beauty-icon.png' %}"></div>
                    <div class="banner-content-in-text"><h2 class="title">Doğallık ve Güzellik</h2><p class="icon-box-description">Yapılan cerrahi işlemler sonunda doğal görünüm ile genç görünün.</p></div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="contact">
        <div class="container">
            <div class="contact-content">
                <div class="contact-background"></div>
                <div class="contact-in">
                    <div class="contact-in-header">
                        <h2>İletişim</h2>
                    </div>
                    <div class="contact-in-info">
                        <ul>
                            <li>
                                <span class="contact-icons"><svg aria-hidden="true" class="e-font-icon-svg e-far-envelope" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg></span>
                                <a class="anchor-logo" href="mailto:{{ contactemail }}"><span>{{ contactemail }}</span></a>
                            </li>
                            <li>
                                <span class="contact-icons"><img class="contact-icons" src="{% static 'images/contact-icon.png' %}"></span>
                                <a class="anchor-logo" href="tel:{{ contactphone }}"><span>{{ contactphone }}</span></a>
                            </li>
                            <li>
                                <span class="contact-icons"><img class="contact-icons" src="{% static 'images/konum-icon.png' %}"></span>
                                <span>{{ contactadress }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
        </div>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
    <script>function toggleMenu() {
            var navLinks = document.getElementById("nav-links");
            navLinks.classList.toggle("open");
        }</script>
{% endblock %}
