{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UR Clinic</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{%  static 'images/favicon_io/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo-container">
            <a class="anchor-logo" id="anchor-logo" href="#home">
                <img class="klinik-logo" src="{% static 'images/logo.png' %}" alt="Logo"></img>
            </a>
            </div>
            <nav>
            <span class="hamburger" onclick="toggleMenu()">☰</span>
            <ul id="nav-links">
                <li><a href="/">Anasayfa</a></li>
                <li><a href="#about">Hakkımızda</a></li>
                <li>Hizmetler
                    <ul>
                        {% for page in service_pages %}
                            <li><a href="{% url 'service_page_detail' slug=page.slug %}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#contact">İletişim</a></li>
                <li><a href="{% url 'randevu_al' %}">Randevu Al</a></li>
                <li><a lang="tr-TR" hreflang="tr-TR" href=""><span class=""><img src="data:image/svg+xml;utf8,%3Csvg width='21' height='15'
                                xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%' id='a'%3E%3Cstop stop-color='%23FFF'
                                offset='0%'/%3E%3Cstop stop-color='%23F0F0F0' offset='100%'/%3E%3C/linearGradient%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%'
                                id='b'%3E%3Cstop stop-color='%23E92434' offset='0%'/%3E%3Cstop stop-color='%23E11324' offset='100%'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg
                                fill='none' fill-rule='evenodd'%3E%3Cpath fill='url(%23a)' d='M0 0h21v15H0z'/%3E%3Cpath fill='url(%23b)' d='M0 0h21v15H0z'/%3E%3Cpath
                                d='M13.052 4.737A3.907 3.907 0 0010.75 4C8.679 4 7 5.567 7 7.5S8.679 11 10.75 11c.868 0 1.667-.275 2.302-.737a4.5 4.5 0 110-5.526zm1.214 3.34l-.919
                                1.113.063-1.442-1.343-.53 1.39-.386.09-1.441.796 1.204 1.398-.361-.898 1.13.775 1.217-1.352-.505z' fill='url(%23a)'/%3E%3C/g%3E%3C/svg%3E" alt="Türkçe"></span></a></li>
                <li><a lang="en-GB" hreflang="en-GB" href=""><span class=""><img src="data:image/svg+xml;utf8,%3Csvg width='21' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient
                                        x1='50%' y1='0%' x2='50%' y2='100%' id='a'%3E%3Cstop stop-color='%23FFF' offset='0%'/%3E%3Cstop stop-color='%23F0F0F0'
                                        offset='100%'/%3E%3C/linearGradient%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%' id='b'%3E%3Cstop stop-color='%230A17A7'
                                        offset='0%'/%3E%3Cstop stop-color='%23030E88' offset='100%'/%3E%3C/linearGradient%3E%3ClinearGradient x1='50%' y1='0%' x2='50%' y2='100%'
                                        id='c'%3E%3Cstop stop-color='%23E6273E' offset='0%'/%3E%3Cstop stop-color='%23CF152B' offset='100%'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg
                                        fill='none' fill-rule='evenodd'%3E%3Cpath fill='url(%23a)' d='M0 0h21v15H0z'/%3E%3Cpath fill='url(%23b)' d='M-.002 0h21v15h-21z'/%3E%3Cpath
                                        d='M5.003 10H-.002V5h5.005L-2.082.22l1.118-1.657 8.962 6.045V-1h5v5.608l8.962-6.045L23.078.22 15.993 5h5.005v5h-5.005l7.085 4.78-1.118
                                        1.657-8.962-6.045V16h-5v-5.608l-8.962 6.045-1.118-1.658L5.003 10z' fill='url(%23a)'/%3E%3Cpath d='M14.136
                                        4.958l9.5-6.25a.25.25 0 00-.275-.417l-9.5 6.25a.25.25 0 10.275.417zm.732 5.522l8.515 5.74a.25.25 0 10.28-.415l-8.516-5.74a.25.25
                                        0 00-.279.415zM6.142 4.526L-2.74-1.461a.25.25 0 00-.28.415L5.863 4.94a.25.25 0 00.279-.414zm.685 5.469l-9.845 6.53a.25.25 0
                                        10.276.416l9.846-6.529a.25.25 0 00-.277-.417z' fill='%23DB1F35' fill-rule='nonzero'/%3E%3Cpath fill='url(%23c)' d='M-.002
                                        9h9v6h3V9h9V6h-9V0h-3v6h-9z'/%3E%3C/g%3E%3C/svg%3E" alt="English"></span></a></li>
            </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <p>&copy; 2024 Klinik Adı. Tüm hakları saklıdır.</p>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    <script>function toggleMenu() {
            var navLinks = document.getElementById("nav-links");
            navLinks.classList.toggle("open");
        }</script>
</body>
</html>